<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/header.ejs') %> 
 </head>
<body>
    <div class="container-fluid row justify-content-center">
        <div class="container-fluid" id="products-container"></div>
    </div>
    <%- include('../partials/remitos.ejs') %> 
</body>
<script src="js/index.js"></script>
</html>